In [1]:
# start importing data and such

In [4]:
import csv
from pathlib import Path
import os
from dotenv import load_dotenv
import pandas as pd
import numpy as np
import plotly.express as px
import warnings
import panel as pn
import matplotlib.pyplot as plt
pn.extension('plotly')
%matplotlib inline
warnings.filterwarnings('ignore')

In [5]:
import hvplot.pandas

In [54]:
alc_consumption_timeseries_csv = Path("Resources/apparent_per_capita_alcohol_consumption_1977_2018.csv.csv")

In [55]:
alc_consumption_timeseries_df = pd.read_csv(alc_consumption_timeseries_csv, index_col = 'year', infer_datetime_format = True)

In [56]:
alc_consumption_timeseries_df.head()

,state,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
year,,,,,,,,,
2018,alabama,1.04,0.26,0.69,1.99,246.518518,51.596899,143.260341,424.533333
2017,alabama,1.07,0.26,0.67,1.99,253.629630,51.596899,139.107867,424.533333
2016,alabama,1.09,0.26,0.65,2.01,258.370370,51.596899,134.955393,428.800000
2015,alabama,1.11,0.26,0.64,2.01,263.111111,51.596899,132.879156,428.800000
2014,alabama,1.13,0.25,0.62,2.00,267.851852,49.612403,128.726683,426.666667

In [57]:
alc_consumption_timeseries_df.dropna()

,state,ethanol_beer_gallons_per_capita,ethanol_wine_gallons_per_capita,ethanol_spirit_gallons_per_capita,ethanol_all_drinks_gallons_per_capita,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
year,,,,,,,,,
2018,alabama,1.04,0.26,0.69,1.99,246.518518,51.596899,143.260341,424.533333
2017,alabama,1.07,0.26,0.67,1.99,253.629630,51.596899,139.107867,424.533333
2016,alabama,1.09,0.26,0.65,2.01,258.370370,51.596899,134.955393,428.800000
2015,alabama,1.11,0.26,0.64,2.01,263.111111,51.596899,132.879156,428.800000
2014,alabama,1.13,0.25,0.62,2.00,267.851852,49.612403,128.726683,426.666667
2013,alabama,1.14,0.25,0.60,1.99,270.222222,49.612403,124.574209,424.533333
2012,alabama,1.16,0.24,0.60,2.00,274.962963,47.627907,124.574209,426.666667
2011,alabama,1.16,0.24,0.59,1.98,274.962963,47.627907,122.497972,422.400000
2010,alabama,1.17,0.23,0.58,1.98,277.333333,45.643411,120.421736,422.400000
2009,alabama,1.19,0.22,0.57,1.98,282.074074,43.658915,118.345499,422.400000
2008,alabama,1.22,0.22,0.57,2.01,289.185185,43.658915,118.345499,428.800000
2007,alabama,1.23,0.22,0.55,2.00,291.555556,43.658915,114.193025,426.666667
2006,alabama,1.21,0.21,0.54,1.95,286.814815,41.674419,112.116788,416.000000
2005,alabama,1.18,0.20,0.53,1.91,279.703704,39.689922,110.040551,407.466667
2004,alabama,1.19,0.20,0.52,1.91,282.074074,39.689922,107.964315,407.466667
2003,alabama,1.19,0.19,0.52,1.90,282.074074,37.705426,107.964315,405.333333
2002,alabama,1.18,0.21,0.54,1.92,279.703704,41.674419,112.116788,409.600000
2001,alabama,1.16,0.17,0.53,1.86,274.962963,33.736434,110.040551,396.800000
2000,alabama,1.19,0.18,0.51,1.88,282.074074,35.720930,105.888078,401.066667
1999,alabama,1.18,0.17,0.51,1.87,279.703704,33.736434,105.888078,398.933333
1998,alabama,1.16,0.17,0.51,1.85,274.962963,33.736434,105.888078,394.666667
1997,alabama,1.14,0.16,0.52,1.82,270.222222,31.751938,107.964315,388.266667
1996,alabama,1.17,0.18,0.53,1.88,277.333333,35.720930,110.040551,401.066667
1995,alabama,1.14,0.16,0.53,1.82,270.222222,31.751938,110.040551,388.266667
1994,alabama,1.16,0.17,0.54,1.87,274.962963,33.736434,112.116788,398.933333
1993,alabama,1.14,0.17,0.56,1.86,270.222222,33.736434,116.269262,396.800000
1992,alabama,1.02,0.19,0.59,1.79,241.777778,37.705426,122.497972,381.866667
1991,alabama,1.00,0.17,0.59,1.76,237.037037,33.736434,122.497972,375.466667
1990,alabama,1.12,0.18,0.61,1.92,265.481481,35.720930,126.650446,409.600000
1989,alabama,1.12,0.17,0.61,1.90,265.481481,33.736434,126.650446,405.333333
...,...,...,...,...,...,...,...,...,...
2006,us total,1.20,0.37,0.71,2.28,284.444444,73.426357,147.412814,486.400000
2005,us total,1.20,0.36,0.70,2.25,284.444444,71.441860,145.336578,480.000000
2004,us total,1.21,0.35,0.68,2.24,286.814815,69.457364,141.184104,477.866667
2003,us total,1.21,0.34,0.67,2.22,286.814815,67.472868,139.107867,473.600000
2002,us total,1.23,0.33,0.64,2.20,291.555556,65.488372,132.879156,469.333333
2001,us total,1.23,0.31,0.64,2.18,291.555556,61.519380,132.879156,465.066667
2000,us total,1.23,0.31,0.64,2.19,291.555556,61.519380,132.879156,467.200000
1999,us total,1.23,0.31,0.63,2.17,291.555556,61.519380,130.802920,462.933333
1998,us total,1.22,0.30,0.62,2.15,289.185185,59.534884,128.726683,458.666667
1997,us total,1.22,0.30,0.62,2.15,289.185185,59.534884,128.726683,458.666667
1996,us total,1.23,0.30,0.63,2.16,291.555556,59.534884,130.802920,460.800000
1995,us total,1.24,0.29,0.63,2.15,293.925926,57.550388,130.802920,458.666667
1994,us total,1.25,0.28,0.65,2.18,296.296296,55.565891,134.955393,465.066667
1993,us total,1.26,0.28,0.68,2.23,298.666667,55.565891,141.184104,475.733333
1992,us total,1.29,0.30,0.71,2.30,305.777778,59.534884,147.412814,490.666667
1991,us total,1.29,0.30,0.71,2.30,305.777778,59.534884,147.412814,490.666667
1990,us total,1.34,0.33,0.77,2.45,317.629630,65.488372,159.870235,522.666667
1989,us total,1.32,0.34,0.78,2.43,312.888889,67.472868,161.946472,518.400000
1988,us total,1.33,0.36,0.79,2.49,315.259259,71.441860,164.022709,531.200000
1987,us total,1.34,0.38,0.83,2.55,317.629630,75.410853,172.327656,544.000000
1986,us total,1.35,0.39,0.84,2.58,320.000000,77.395349,174.403893,550.400000
1985,us total,1.33,0.38,0.91,2.62,315.259259,75.410853,188.937551,558.933333
1984,us total,1.35,0.37,0.94,2.65,320.000000,73.426357,195.166261,565.333333
1983,us total,1.37,0.36,0.96,2.69,324.740741,71.441860,199.318735,573.866667
1982,us total,1.38,0.36,0.98,2.72,327.111111,71.441860,203.471208,580.266667
1981,us total,1.39,0.35,1.02,2.76,329.481481,69.457364,211.776156,588.800000
1980,us total,1.37,0.34,1.04,2.75,324.740741,67.472868,215.928629,586.666667
1979,us total,1.34,0.31,1.04,2.70,317.629630,61.519380,215.928629,576.000000
1978,us total,1.30,0.30,1.05,2.66,308.148148,59.534884,218.004866,567.466667
1977,us total,1.27,0.29,1.04,2.60,301.037037,57.550388,215.928629,554.666667

In [58]:
alc_consumption_timeseries_df.drop(columns=['ethanol_beer_gallons_per_capita', 'ethanol_wine_gallons_per_capita', 'ethanol_spirit_gallons_per_capita'], inplace = True)

In [59]:
alc_consumption_timeseries_df.drop(columns=['ethanol_all_drinks_gallons_per_capita'], inplace = True)

In [60]:
alc_consumption_timeseries_df.head()

,state,number_of_beers,number_of_glasses_wine,number_of_shots_liquor,number_of_drinks_total
year,,,,,
2018,alabama,246.518518,51.596899,143.260341,424.533333
2017,alabama,253.629630,51.596899,139.107867,424.533333
2016,alabama,258.370370,51.596899,134.955393,428.800000
2015,alabama,263.111111,51.596899,132.879156,428.800000
2014,alabama,267.851852,49.612403,128.726683,426.666667

In [61]:
alc_consumption_timeseries_df.hvplot.line(
    'year',
    'number_of_drinks_total',
    xlabel= 'year',
    ylabel= 'number of drinks',
    groupby= 'state',
    title = "Total Number of Drinks per Capita by State"
)

:DynamicMap   [state]
   :Curve   [year]   (number_of_drinks_total)

In [62]:
alc_consumption_timeseries_df = alc_consumption_timeseries_df.reset_index()

In [63]:
alc_consumption_timeseries_df.dtypes

year                        int64
state                      object
number_of_beers           float64
number_of_glasses_wine    float64
number_of_shots_liquor    float64
number_of_drinks_total    float64
dtype: object

In [ ]:
mask = (alc_consumption_timeseries_df['year'] > 2000) & (alc_consumption_timeseries_df['year'] <= 2018)
print(alc_consumption_timeseries_df.loc[mask])

In [67]:
alc_consumption_recent = alc_consumption_timeseries_df.loc[mask]

In [68]:
alc_consumption_recent.shape[0]

1008

In [70]:
alc_consumption_recent.hvplot.line(
    'year',
    'number_of_drinks_total',
    xlabel= 'year',
    ylabel= 'number of drinks',
    groupby= 'state',
    title = "Total Number of Drinks per Capita by State"
)

:DynamicMap   [state]
   :Curve   [year]   (number_of_drinks_total)

In [84]:
liquor_license_fees = pd.read_clipboard()

In [87]:
liquor_license_fees.columns = ['state', 'liquor_license_fee', 'other_fees', 'duration', 'notes']

In [90]:
liquor_license_fees['liquor_license_fee'] = liquor_license_fees['liquor_license_fee'].str.replace('$', '')
liquor_license_fees

In [92]:
liquor_license_fees['other_fees'] = liquor_license_fees['other_fees'].str.replace('$', '')
liquor_license_fees

In [104]:
liquor_license_fees.fillna(value = 0)

,state,liquor_license_fee,other_fees,duration,notes
0,Alabama,300.00,0,Annual,0
1,Alaska,"1,000.00",0,Annual,0
2,Arizona,"1,000.00",0,Annual,0
3,Arkansas,300.00,0,Annual,Small restaurant permit.
4,California,"13,800.00",100.00,Annual,0
5,Colorado,500.00,75.00,Annual,0
6,Connecticut,"1,450.00",100.00,Annual,0
7,Delaware,"1,000.00",0,Annual,0
8,Florida,"1,820.00",0,Annual,0
9,Georgia,"1,000.00",0,Annual,0
10,Hawaii,900.00,0,Annual,0
11,Idaho,100.00,0,Annual,0
12,Illinois,"4,440.00",750.00,Annual,0
13,Indiana,"1,000.00",0,Annual,0
14,Iowa,750.00,0,Annual,0
15,Kansas,300.00,0,Annual,0
16,Kentucky,"1,800.00",0,Annual,0
17,Louisiana,"2,500.00",0,Annual,0
18,Maine,"1,500.00",0,Annual,0
19,Maryland,"2,500.00",0,Annual,0
20,Massachusetts,"2,000.00",0,Annual,0
21,Michigan,600.00,0,Annual,0
22,Minnesota,300.00,0,Annual,0
23,Mississippi,475.00,0,Annual,0
24,Missouri,500.00,0,Annual,0
25,Montana,400.00,400.00,Annual,Based on seating.
26,Nebraska,250.00,0,Annual,0
27,Nevada,"2,500.00",0,Annual,Restaurant must have 30 dining seats available...
28,New Hampshire,178.00,0,Annual,0
29,New Jersey,500.00,0,Annual,0
30,New Mexico,250.00,100.00,Annual,0
31,New York,"4,352.00",200.00,Annual,0
32,North Carolina,"1,000.00",0,Annual,0
33,North Dakota,"2,020.00",0,Annual,0
34,Ohio,"2,300.00",100.00,Annual,0
35,Oklahoma,"1,005.00",0,Annual,0
36,Oregon,400.00,2.60,Annual,0
37,Pennsylvania,0,0,0,"In general, the only way to obtain a liquor li..."
38,Rhode Island,500.00,0,Annual,0
39,South Carolina,300.00,25.00,Annual,0
40,South Dakota,230.00,0,Annual,0
41,Tennessee,"5,000.00",300.00,Annual,0
42,Texas,600.00,"1,229.00",Annual,0
43,Utah,"2,200.00",330.00,Annual,0
44,Vermont,115.00,0,Annual,0
45,Virginia,300.00,0,Annual,0
46,Washington,400.00,0,Annual,0
47,West Virginia,400.00,0,Annual,0
48,Wisconsin,0,0,0,Fees vary by municipality.
49,Wyoming,500.00,0,Annual,The annual fee for a restaurant liquor license...

In [103]:
liquor_license_fees.dtypes

state                 object
liquor_license_fee    object
other_fees            object
duration              object
notes                 object
dtype: object

,state,liquor_license_fee,other_fees,duration,notes
0,Alabama,$300.00,NaN,Annual,NaN
1,Alaska,"$1,000.00",NaN,Annual,NaN
2,Arizona,"$1,000.00",NaN,Annual,NaN
3,Arkansas,$300.00,NaN,Annual,Small restaurant permit.
4,California,"$13,800.00",$100.00,Annual,NaN
5,Colorado,$500.00,$75.00,Annual,NaN
6,Connecticut,"$1,450.00",$100.00,Annual,NaN
7,Delaware,"$1,000.00",NaN,Annual,NaN
8,Florida,"$1,820.00",NaN,Annual,NaN
9,Georgia,"$1,000.00",NaN,Annual,NaN
10,Hawaii,$900.00,NaN,Annual,NaN
11,Idaho,$100.00,NaN,Annual,NaN
12,Illinois,"$4,440.00",$750.00,Annual,NaN
13,Indiana,"$1,000.00",NaN,Annual,NaN
14,Iowa,$750.00,NaN,Annual,NaN
15,Kansas,$300.00,NaN,Annual,NaN
16,Kentucky,"$1,800.00",NaN,Annual,NaN
17,Louisiana,"$2,500.00",NaN,Annual,NaN
18,Maine,"$1,500.00",NaN,Annual,NaN
19,Maryland,"$2,500.00",NaN,Annual,NaN
20,Massachusetts,"$2,000.00",NaN,Annual,NaN
21,Michigan,$600.00,NaN,Annual,NaN
22,Minnesota,$300.00,NaN,Annual,NaN
23,Mississippi,$475.00,NaN,Annual,NaN
24,Missouri,$500.00,NaN,Annual,NaN
25,Montana,$400.00,$400.00,Annual,Based on seating.
26,Nebraska,$250.00,NaN,Annual,NaN
27,Nevada,"$2,500.00",NaN,Annual,Restaurant must have 30 dining seats available...
28,New Hampshire,$178.00,NaN,Annual,NaN
29,New Jersey,$500.00,NaN,Annual,NaN
30,New Mexico,$250.00,$100.00,Annual,NaN
31,New York,"$4,352.00",$200.00,Annual,NaN
32,North Carolina,"$1,000.00",NaN,Annual,NaN
33,North Dakota,"$2,020.00",NaN,Annual,NaN
34,Ohio,"$2,300.00",$100.00,Annual,NaN
35,Oklahoma,"$1,005.00",NaN,Annual,NaN
36,Oregon,$400.00,$2.60,Annual,NaN
37,Pennsylvania,NaN,NaN,NaN,"In general, the only way to obtain a liquor li..."
38,Rhode Island,$500.00,NaN,Annual,NaN
39,South Carolina,$300.00,$25.00,Annual,NaN
40,South Dakota,$230.00,NaN,Annual,NaN
41,Tennessee,"$5,000.00",$300.00,Annual,NaN
42,Texas,$600.00,"$1,229.00",Annual,NaN
43,Utah,"$2,200.00",$330.00,Annual,NaN
44,Vermont,$115.00,NaN,Annual,NaN
45,Virginia,$300.00,NaN,Annual,NaN
46,Washington,$400.00,NaN,Annual,NaN
47,West Virginia,$400.00,NaN,Annual,NaN
48,Wisconsin,NaN,NaN,NaN,Fees vary by municipality.
49,Wyoming,$500.00,NaN,Annual,The annual fee for a restaurant liquor license...